In [1]:
# import first the required libraries

import os
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\Kevin13\Downloads\read_csv\read_csv\index.csv")

In [11]:
# Access the third column of the index dataframe

df.iloc[:,2]

0       8
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16     10
17      0
18      0
19      0
20      0
21     55
22      0
23     70
24      3
25      0
26      0
27      0
28     55
29      0
       ..
227     0
228     0
229     0
230     0
231     0
232     0
233     0
234     0
235     0
236    65
237     0
238     0
239     0
240     0
241     0
242     0
243     0
244     0
245     0
246     0
247     0
248     0
249     0
250     0
251     0
252     0
253     6
254     0
255    45
256     6
Name: C, Length: 257, dtype: int64

In [15]:
# Access the last two columns of the index dataframe using the iloc function

df.iloc[:,-2:]

       K  L
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
5      0  3
6      0  3
7      0  3
8      0  3
9      0  3
10     0  3
11     0  3
12     0  3
13     0  3
14     0  3
15     0  3
16     0  U
17     0  U
18     0  3
19     0  3
20     0  3
21     0  3
22     0  U
23     0  3
24     0  1
25     0  3
26     0  3
27     0  3
28     0  3
29   500  3
..   ... ..
227    0  2
228    0  3
229    0  3
230    0  3
231    0  3
232    0  3
233    0  3
234    0  5
235    0  3
236  500  3
237    0  3
238    0  5
239    0  3
240    0  3
241    0  3
242    0  3
243  600  3
244    0  3
245    0  3
246    0  2
247    0  3
248    0  3
249    0  3
250    0  3
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3
256    0  3

[257 rows x 2 columns]

In [16]:
# Access the last 10 rows and the first two columns of the index dataframe

df.iloc[-10:,:2]

     A  B
247  C  R
248  C  A
249  C  A
250  C  R
251  C  A
252  C  A
253  C  R
254  C  A
255  C  K
256  C  R